@import '/variables';
@import '../App/App.scss';
@import '../BookArea/BookArea.scss';
@import '../Card/Card.scss';
@import '../Info/Info.scss';
@import url('https://fonts.googleapis.com/css?family=Lobster|Open+Sans:400,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $secondary-font;
}

body {
    background-image: url('https://images.unsplash.com/photo-1530445007902-6a7a5743b69e?ixlib=rb-1.2.1&auto=format&fit=crop&w=963&q=80');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
}
