@import 'src/styles/variables';
@import '../App/App.scss';
@import '../BookArea/BookArea.scss';
@import '../Library/Library.scss';
@import '../Card/Card.scss';
@import '../Info/Info.scss';
@import '../MiniCard/MiniCard.scss';
@import url('https://fonts.googleapis.com/css?family=Lobster|Open+Sans:400,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $secondary-font;
}

body {
  background: #6900a6;
  background: linear-gradient(0deg, rgba(105, 0, 166, 1) 0%, rgba(3, 3, 43, 1) 26%);
  min-height: 100vh; /* Ensure the body is at least the height of the viewport */
  margin: 0; /* It's good practice to reset default body margins */
}

html {
  height: 100%; /* Ensure the html element also takes up the full viewport height */
}
